body{
    background-color: #98DDCA;
    color: rgb(70, 78, 103);
}

h1.h4{
    text-align: center;
}

.loginMain{
    background: #FFFF;
    border: 2px solid #D5ECC2;
    border-radius: 50px;    
    border-width: 5px;
    position: fixed;
    padding: 20px;
    top: 50%;
    left: 50%;
    right: 50%;
    margin: -200px;
    height: 300px;
    width: 300px;
    text-align: center;
    /* display: flex; */
}

.button{
    width: 153px;
    height: 21px;
    background-color: white;
    border-radius: 10px;
    border-width: 2px;
    outline: none;
}
.SubmitButton{
    width: 153px;
    height: 30px;
    font-size: 15px;
    background-color: #D5ECC2;
    border-radius: 10px;
    border-width: 0px;
}

input{
 width: 200px;
 height: 30px;
 background: none;
 border: 2px solid rgb(70, 78, 103);
 border-top: 0px;
 border-left: 0px;
 border-right: 0px;
}

.loginSubHeading{
    margin-top: 5%;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 100px ); 
    column-gap: 10px;
    row-gap: 15px;
    outline-color:blue;
    padding: 20px;
    
}

.itinerary{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr); 
    column-gap: 10px;
    row-gap: 15px;
}

.cell{
    background-color: white;
    height:100px;
}

.document{
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    width: 50%;
    height: 75%;
    margin-top: 10%;
    border-radius: 5px;
    border: 5px solid #D5ECC2;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
    padding: 20px;
    /* border: 3px solid black; */
   
}