body{
    background-color: aquamarine;
}

.loginMain{
    background: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-bottom: -50px;
    margin-left: -50px;
    height: 300px;
    width: 300px;
    /* align-items: center; */
    /* display: flex; */
}